html {
  background: linear-gradient(#000000, #005169) no-repeat center center fixed;
  font-family: Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 50%;
  min-height: 50%;
  width: 100%;
}

#searchLabel {
  font-size: 40px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
}

#add-music {
  border-radius: 5px;
  background: #00b3ff;
}

#searchForm {
  margin-bottom: 25px;
}

#music-list {
  text-align: center;
  font-size: 25px;
}

audio {
  padding-top: 5px;
  padding-bottom: 10px;
}

.searchResults {
  color: white;
}

.container {
  padding: 10px;
}

#gif-image {
  text-align: center;
}

#searchAndSub {
  justify-content: center;
}

.test {
  margin: 30px;
  border-radius: 28px;
  background: linear-gradient(45deg, #00a1e6, #00c0ff);
  box-shadow: 6px -6px 5px #009ee0, -6px 6px 5px #00c8ff;
}
