html {
  background-image: url(https://i.pinimg.com/originals/e0/d6/6a/e0d66a03fdf7fecce02b8b76e141d325.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

#searchLabel {
  font-size: 40px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#add-music {
  margin-top: 2px;
}

#searchForm {
  margin-top: 25px;
  margin-bottom: 100px;
}

.searchResults {
  color: white;
}

/* @media only screen and (max-width: 750px) {
    body {
      background-image: url(https://i.pinimg.com/originals/64/ed/3a/64ed3a481498bccf61aafc4bf3151a2f.jpg);
      background-size: auto;
      opacity: 60%;
      background-repeat: no-repeat;
    }
  } */
